$primary: #5265E1;
$secondary: #FA5959;
@import "../node_modules/bootstrap/scss/bootstrap";
body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav-btn {
    color: white;
}

#navbarNav {
    z-index: 2;
}

.row {
    margin: 100px 0px;
    justify-content: center;
    align-items: center;
}

.figureright {
    background-color: $primary;
    height: 70%;
    width: 150%;
    position: absolute;
    z-index: -1;
    translate: 20% -90%;
}

.figureleft {
    background-color: $primary;
    height: 70%;
    width: 150%;
    position: absolute;
    z-index: -1;
    translate: -70% -70%;
}

.nav-pills .nav-link {
    color: black;
    border-bottom: 5px;
}

.nav-pills .nav-link {
    background-color: transparent;
    color: #000;
    border-radius: 0%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.413);
    padding: 20px 40px;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    opacity: 1;
    border-bottom: 2px solid $secondary;
}

.card {
    margin: 10px;
    text-align: center;
    border-top: 0px;
    border-radius: 10px;
}

//Ejercicio 7
.card img:nth-child(0n+1) {
    width: 25%;
    margin: 50px auto 0 auto;
}

.row .card:nth-child(2) {
    margin-top: 20px;
    transform: translateY(20px);
}

.card:nth-child(3) {
    margin-top: 40px;
    transform: translateY(40px);
}


/* #firefox {
    transform: translateY(20px);
}

#opera {
    transform: translateY(40px);
} */

.accordion-button {
    font-weight: bold;
}

.invalid-feedback {
    background-color: $secondary;
    color: white;
    border-radius: 10px;
}

.nav-link-footer {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
}

.social {
    margin: 0px 20px;
}

//HOVER
.nav-item a:hover {
    color: $secondary;
}

.nav-btn:hover {
    color: $secondary;
    background: white;
    border: 2px solid $secondary;
}

.btn-primary:hover {
    color: $primary;
    background: transparent;
    border: 2px solid $primary;
}

.btn-light:hover {
    color: gray;
    background: transparent;
    border: 2px solid gray;
}

.nav-pills .nav-link:hover {
    color: $secondary;
}

.accordion-button:hover {
    color: $secondary;
}

.nav-link-footer:hover {
    color: $secondary;
}

.social:hover {
    color: $secondary;
}

@include media-breakpoint-up (lg) {
    #firefox {
        margin-top: 50px;
    }
    #opera {
        margin-top: 100px;
    }
}

// FULL SCREEN MENU
@include media-breakpoint-down(lg) {
    .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(7, 0, 43, 0.689);
    }
    .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        list-style: none;
        text-align: center;
    }
    .wrapper ul li a {
        color: white;
        text-decoration: none;
        font-size: 25px;
    }
    .navbar-toggler {
        z-index: 4;
        text-align: center;
        cursor: pointer;
    }
}